body, html {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    background-color: #38B6FF;
  }
  /* Header styles */
  .home {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* Adding a border to the h1 element */
    border: 1px solid #333; /* You can adjust the color and width as needed */
    padding: 0.5rem; /* Add padding to create space between the text and the border */
}
  
  /* Main content styles */
  .post-feed {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* Post styles */
  .post {
    border: 1px solid #DBDBDB;
    margin: 1.5rem 0;
    padding: 1rem;
    background-color: #FFFFFF;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  /* Title styles */
  .post h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .post h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  /* Content styles */
  .post p {
    margin-bottom: 1rem;
  }
  /* Author styles */
  .post p:last-child {
    font-style: italic;
    color: #999999;
  }
  /* Modify this color to match Instagram's heart color */
  .heart-icon {
    color: #ED4956;
  }
  /* Add more styles as needed */