.profile {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid #38B6FF;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5); 
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .profile-image {
    width: 400px;
    height: 500px;
    border-radius: 300px;
  }
.post-image {
  width: 400px;
}

  .profile h2 {
    font-size: 1.25rem;
    margin: 0;
  }
  .profile p {
    font-size: 1rem;
    color: #333333;
    margin: 0.25rem 0;
  }
  .profile p.username {
    font-weight: bold;
  }
  .profile p.bio {
    margin-top: 1rem;
    color: #666666;
  }
  .profile p.stats {
    color: #666666;
    margin-top: 0.25rem;
  }
  .profile .user-info {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  .profile .user-info img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
    border: 1px solid #DBDBDB;
  }
  .profile .posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  .profile .post {
    position: relative;
    overflow: hidden;
    border: 1px solid #DBDBDB;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .profile .post img {
    max-width: 100%;
    height: auto;
  }
  .profile .post-content {
    padding: 0.5rem;
  }
  .profile .post-content p {
    font-size: 0.875rem;
    color: #333333;
    margin: 0.25rem 0;
  }